In [1]:
import pandas as pd
intakes = pd.read_csv('data/aac_intakes.csv')
outcomes = pd.read_csv('data/aac_outcomes.csv')
intakes_outcomes = pd.read_csv('data/aac_intakes_outcomes.csv')

In [2]:
intakes.describe()

,age_upon_intake,animal_id,animal_type,breed,color,datetime,datetime2,found_location,intake_condition,intake_type,name,sex_upon_intake
count,80187,80187,80187,80187,80187,80187,80187,80187,80187,80187,55603,80186
unique,46,72365,5,2166,529,57055,57055,36772,8,5,14731,5
top,1 year,A721033,Dog,Domestic Shorthair Mix,Black/White,2016-09-23T12:00:00.000,2016-09-23T12:00:00.000,Austin (TX),Normal,Stray,Bella,Intact Male
freq,14672,13,45743,23519,8340,64,64,14443,70520,56280,357,25488

In [3]:
outcomes.describe()

,age_upon_outcome,animal_id,animal_type,breed,color,date_of_birth,datetime,monthyear,name,outcome_subtype,outcome_type,sex_upon_outcome
count,80673,80681,80681,80681,80681,80681,80681,80681,56116,36893,80667,80679
unique,46,72877,5,2176,532,5956,66474,66474,14824,19,9,5
top,1 year,A721033,Dog,Domestic Shorthair Mix,Black/White,2015-09-01T00:00:00,2016-04-18T00:00:00,2016-04-18T00:00:00,Bella,Partner,Adoption,Neutered Male
freq,14911,13,45856,23821,8396,112,39,39,362,20082,34232,28702

In [4]:
intakes_outcomes.describe()

,age_upon_outcome_(days),age_upon_outcome_(years),outcome_month,outcome_year,outcome_hour,outcome_number,dob_year,dob_month,count,age_upon_intake_(days),age_upon_intake_(years),intake_month,intake_year,intake_hour,intake_number,time_in_shelter_days
count,79672.000000,79672.000000,79672.000000,79672.000000,79672.000000,79672.000000,79672.000000,79672.000000,79672.0,79672.000000,79672.000000,79672.000000,79672.000000,79672.000000,79672.000000,79672.000000
mean,782.046127,2.142592,6.655425,2015.472563,14.297306,1.126820,2013.254870,6.310310,1.0,769.341701,2.107785,6.584032,2015.436101,13.487022,1.126820,16.757116
std,1058.528519,2.900078,3.414284,1.305944,3.774317,0.456057,3.216517,3.289077,0.0,1056.009040,2.893175,3.366579,1.303157,3.121173,0.456057,41.679359
min,0.000000,0.000000,1.000000,2013.000000,0.000000,1.000000,1991.000000,1.000000,1.0,0.000000,0.000000,1.000000,2013.000000,0.000000,1.000000,0.000000
25%,90.000000,0.246575,4.000000,2014.000000,12.000000,1.000000,2012.000000,4.000000,1.0,60.000000,0.164384,4.000000,2014.000000,11.000000,1.000000,1.102083
50%,365.000000,1.000000,7.000000,2015.000000,15.000000,1.000000,2014.000000,6.000000,1.0,365.000000,1.000000,7.000000,2015.000000,13.000000,1.000000,4.987153
75%,1095.000000,3.000000,10.000000,2017.000000,17.000000,1.000000,2015.000000,9.000000,1.0,1095.000000,3.000000,10.000000,2017.000000,16.000000,1.000000,13.610764
max,9125.000000,25.000000,12.000000,2018.000000,23.000000,13.000000,2018.000000,12.000000,1.0,9125.000000,25.000000,12.000000,2018.000000,23.000000,13.000000,1606.194444

In [5]:
len(intakes), len(outcomes), len(intakes_outcomes)

(80187, 80681, 79672)

In [6]:
intakes.shape, outcomes.shape, intakes_outcomes.shape

((80187, 12), (80681, 12), (79672, 41))

In [7]:
intakes.dtypes

age_upon_intake     object
animal_id           object
animal_type         object
breed               object
color               object
datetime            object
datetime2           object
found_location      object
intake_condition    object
intake_type         object
name                object
sex_upon_intake     object
dtype: object

In [8]:
outcomes.dtypes

age_upon_outcome    object
animal_id           object
animal_type         object
breed               object
color               object
date_of_birth       object
datetime            object
monthyear           object
name                object
outcome_subtype     object
outcome_type        object
sex_upon_outcome    object
dtype: object

In [9]:
intakes_outcomes.dtypes

age_upon_outcome               object
animal_id_outcome              object
date_of_birth                  object
outcome_subtype                object
outcome_type                   object
sex_upon_outcome               object
age_upon_outcome_(days)         int64
age_upon_outcome_(years)      float64
age_upon_outcome_age_group     object
outcome_datetime               object
outcome_month                   int64
outcome_year                    int64
outcome_monthyear              object
outcome_weekday                object
outcome_hour                    int64
outcome_number                float64
dob_year                        int64
dob_month                       int64
dob_monthyear                  object
age_upon_intake                object
animal_id_intake               object
animal_type                    object
breed                          object
color                          object
found_location                 object
intake_condition               object
intake_type                    object
sex_upon_intake                object
count                           int64
age_upon_intake_(days)          int64
age_upon_intake_(years)       float64
age_upon_intake_age_group      object
intake_datetime                object
intake_month                    int64
intake_year                     int64
intake_monthyear               object
intake_weekday                 object
intake_hour                     int64
intake_number                 float64
time_in_shelter                object
time_in_shelter_days          float64
dtype: object

In [10]:
intakes.head(5)

,age_upon_intake,animal_id,animal_type,breed,color,datetime,datetime2,found_location,intake_condition,intake_type,name,sex_upon_intake
0,8 years,A706918,Dog,English Springer Spaniel,White/Liver,2015-07-05T12:59:00.000,2015-07-05T12:59:00.000,9409 Bluegrass Dr in Austin (TX),Normal,Stray,Belle,Spayed Female
1,11 months,A724273,Dog,Basenji Mix,Sable/White,2016-04-14T18:43:00.000,2016-04-14T18:43:00.000,2818 Palomino Trail in Austin (TX),Normal,Stray,Runster,Intact Male
2,4 weeks,A665644,Cat,Domestic Shorthair Mix,Calico,2013-10-21T07:59:00.000,2013-10-21T07:59:00.000,Austin (TX),Sick,Stray,NaN,Intact Female
3,4 years,A682524,Dog,Doberman Pinsch/Australian Cattle Dog,Tan/Gray,2014-06-29T10:38:00.000,2014-06-29T10:38:00.000,800 Grove Blvd in Austin (TX),Normal,Stray,Rio,Neutered Male
4,2 years,A743852,Dog,Labrador Retriever Mix,Chocolate,2017-02-18T12:46:00.000,2017-02-18T12:46:00.000,Austin (TX),Normal,Owner Surrender,Odin,Neutered Male

In [11]:
outcomes.head(5)

,age_upon_outcome,animal_id,animal_type,breed,color,date_of_birth,datetime,monthyear,name,outcome_subtype,outcome_type,sex_upon_outcome
0,2 weeks,A684346,Cat,Domestic Shorthair Mix,Orange Tabby,2014-07-07T00:00:00,2014-07-22T16:04:00,2014-07-22T16:04:00,NaN,Partner,Transfer,Intact Male
1,1 year,A666430,Dog,Beagle Mix,White/Brown,2012-11-06T00:00:00,2013-11-07T11:47:00,2013-11-07T11:47:00,Lucy,Partner,Transfer,Spayed Female
2,1 year,A675708,Dog,Pit Bull,Blue/White,2013-03-31T00:00:00,2014-06-03T14:20:00,2014-06-03T14:20:00,*Johnny,NaN,Adoption,Neutered Male
3,9 years,A680386,Dog,Miniature Schnauzer Mix,White,2005-06-02T00:00:00,2014-06-15T15:50:00,2014-06-15T15:50:00,Monday,Partner,Transfer,Neutered Male
4,5 months,A683115,Other,Bat Mix,Brown,2014-01-07T00:00:00,2014-07-07T14:04:00,2014-07-07T14:04:00,NaN,Rabies Risk,Euthanasia,Unknown

In [12]:
intakes_outcomes.head(5)

,age_upon_outcome,animal_id_outcome,date_of_birth,outcome_subtype,outcome_type,sex_upon_outcome,age_upon_outcome_(days),age_upon_outcome_(years),age_upon_outcome_age_group,outcome_datetime,...,age_upon_intake_age_group,intake_datetime,intake_month,intake_year,intake_monthyear,intake_weekday,intake_hour,intake_number,time_in_shelter,time_in_shelter_days
0,10 years,A006100,2007-07-09 00:00:00,NaN,Return to Owner,Neutered Male,3650,10.0,"(7.5, 10.0]",2017-12-07 14:07:00,...,"(7.5, 10.0]",2017-12-07 00:00:00,12,2017,2017-12,Thursday,14,1.0,0 days 14:07:00.000000000,0.588194
1,7 years,A006100,2007-07-09 00:00:00,NaN,Return to Owner,Neutered Male,2555,7.0,"(5.0, 7.5]",2014-12-20 16:35:00,...,"(5.0, 7.5]",2014-12-19 10:21:00,12,2014,2014-12,Friday,10,2.0,1 days 06:14:00.000000000,1.259722
2,6 years,A006100,2007-07-09 00:00:00,NaN,Return to Owner,Neutered Male,2190,6.0,"(5.0, 7.5]",2014-03-08 17:10:00,...,"(5.0, 7.5]",2014-03-07 14:26:00,3,2014,2014-03,Friday,14,3.0,1 days 02:44:00.000000000,1.113889
3,10 years,A047759,2004-04-02 00:00:00,Partner,Transfer,Neutered Male,3650,10.0,"(7.5, 10.0]",2014-04-07 15:12:00,...,"(7.5, 10.0]",2014-04-02 15:55:00,4,2014,2014-04,Wednesday,15,1.0,4 days 23:17:00.000000000,4.970139
4,16 years,A134067,1997-10-16 00:00:00,NaN,Return to Owner,Neutered Male,5840,16.0,"(15.0, 17.5]",2013-11-16 11:54:00,...,"(15.0, 17.5]",2013-11-16 09:02:00,11,2013,2013-11,Saturday,9,1.0,0 days 02:52:00.000000000,0.119444

# Cleaning the data

In [13]:
intakes['datetime'] = pd.to_datetime(intakes['datetime'])
intakes.rename(columns={'datetime': 'intake_date'}, inplace=True)
intakes['datetime2'] = pd.to_datetime(intakes['datetime2']).dt.to_period('M')
intakes.rename(columns={'datetime2': 'intake_monthyear'}, inplace=True)

# Found Pets

## Is there an area where more pets are found?

Find the top 5 places where animals are found so the shelter can coordinate with local volunteers and animal control to monitor these areas. 

Looking at the provided locations I noticed that there are entries with just the cityname. This resulted in a huge number of pets in "Austin" which isn't valueable to know as the entire dataset is from the Austin shelter. For this reason I decided to filter those out and only use the complete addresses that included more specific locations.

In [15]:
# https://pandas.pydata.org/docs/reference/api/pandas.Series.str.contains.html
filtered_locations = intakes[intakes['found_location'].str.contains(' in ')]
filtered_locations = filtered_locations.groupby('found_location').size().sort_values(ascending=False).head(5)

print(filtered_locations)

found_location
7201 Levander Loop in Austin (TX)     517
4434 Frontier Trl in Austin (TX)      163
124 W Anderson Ln in Austin (TX)      153
12034 Research Blvd in Austin (TX)     98
1156 W Cesar Chavez in Austin (TX)     98
dtype: int64

## ⭐ Exceeds: How many animals in the shelter are repeats? 

I started off this requirement by grouping all the intakes based on the `animal_id` and sorting those. Then I filtered them to find all the id's that came in more than once.

In [40]:
# Get the number of occurances for each of the animal_id values
occurances = intakes.groupby('animal_id').size().sort_values(ascending=False)
# get all intakes that occur more than once
repeats = intakes.loc[occurances[occurances > 1]]
len(repeats)

6154

## ⭐ Exceeds: Which animal was returned to the shelter the most?

I already had a filtered list of pets that have been taken in more than once, since this was also sorted already I simply returned the very first entry of that repeats df.

In [25]:
repeats.head(1)

,age_upon_intake,animal_id,animal_type,breed,color,intake_date,intake_monthyear,found_location,intake_condition,intake_type,name,sex_upon_intake
13,1 month,A736287,Cat,Domestic Shorthair Mix,Torbie,2016-10-08 11:53:00,2016-10,South First And Stassney in Austin (TX),Normal,Stray,*Twilight,Intact Female

# Average Found Pets

## What is the average number of pets found in a month in the year 2015?

To get to this number I filtered all intakes that happened in 2015. Then sorted those by month to finally calculate the average of those

In [49]:
intakes_in_2015 = intakes[intakes['intake_monthyear'].dt.year == 2015]
intakes_per_month = intakes_in_2015.groupby(by=[intakes_in_2015['intake_monthyear']]).size().sort_values(ascending=False)
avg_per_month = intakes_per_month.mean()

print(int(avg_per_month))

1559

### Are there months where there is a higher number of animals found?

There are 6 months that have a higher number of animals found than the average over 2015. June and May taking the first two spots with 2189 and 2094 intakes repectively

In [50]:
intakes_per_month[intakes_per_month > avg_per_month]

intake_monthyear
2015-06    2189
2015-05    2094
2015-10    1740
2015-08    1718
2015-07    1635
2015-09    1591
Freq: M, dtype: int64

# Ratio of Incoming vs. Outgoing

## What is the ratio of incoming pets vs. adopted pets

To get to this ratio I started off by filtering all the intakes that had an `outcome_type` of "Adoption". This rules out any other outcome types like owner pickups and transfers. I then devided the total number of intakes by the number of adoptions to get to an Adoption ratio

In [51]:
total_intakes = len(intakes_outcomes)
adopted = intakes_outcomes[intakes_outcomes.outcome_type == 'Adoption']
print(f'''A total of {len(adopted):,} out of {total_intakes:,} pets have been adopted''')

adoption_ratio = round(total_intakes / len(adopted), 2)
print(f'''This means that 1 out of every {adoption_ratio} pets get adopted''')

A total of 33,594 out of 79,672 pets have been adopted
This means that 1 out of every 2.37 pets get adopted

# Animal Distribution

## What is the distribution of the types of animals in the shelter?

I got to these numbers by taking all the intakes and then grouping them by the `animal_type`. This was then sorted to to get them nicely organized

In [19]:
distribution = intakes.groupby('animal_type').size().sort_values(ascending=False)
print(distribution)

animal_type
Dog          45743
Cat          29659
Other         4434
Bird           342
Livestock        9
dtype: int64

# Adoption Rates

## The top 5 dog breeds in the shelter (based on count) and the adoption percentage of each breed are detailed

I started of filtering out all the dogs from the intakes. Then grouped those by breed and sorted them to get to the most common breeds. After that I looped over those breeds to see how many of each of those were adopted. With those numbers I calculated the percentages of each of the breeds. While the Pit Bull Mix is by far the most common breed to come into the shelter the other 4 breeds in the top 5 seem to be more popular for adoption as those percentages are quite a bit higher (55% for the Austrralian Cattle Dog vs only 36% for the Pit Bull)

In [53]:
dogs = intakes[intakes.animal_type == 'Dog']
top_dog_breeds = dogs.groupby('breed').size().sort_values(ascending=False).head()
top_dog_breeds

breed
Pit Bull Mix                 6382
Chihuahua Shorthair Mix      4860
Labrador Retriever Mix       4841
German Shepherd Mix          1963
Australian Cattle Dog Mix    1105
dtype: int64

In [54]:
# Get number of adoptions for each of those breeds
top_5 = top_dog_breeds.items()
for breed, total in top_5:
    number_of_adoptions = intakes_outcomes[
        (intakes_outcomes.breed == breed)
        &
        (intakes_outcomes.outcome_type == 'Adoption')].groupby('breed').size().sum()
    print(f'''{breed} ({round(((number_of_adoptions / total) * 100), 2)}%) : 
    {number_of_adoptions:,} out of {total:,} {breed} coming through the shelter have been adopted
    {round(((number_of_adoptions / len(dogs)) * 100), 2)}% of all adopted dogs at the shelter were a {breed}
    ''')

Pit Bull Mix (36.41%) :
    2,324 out of 6,382 Pit Bull Mix coming through the shelter have been adopted
    5.08% of all adopted dogs at the shelter were a Pit Bull Mix

Chihuahua Shorthair Mix (46.71%) :
    2,270 out of 4,860 Chihuahua Shorthair Mix coming through the shelter have been adopted
    4.96% of all adopted dogs at the shelter were a Chihuahua Shorthair Mix

Labrador Retriever Mix (48.92%) :
    2,368 out of 4,841 Labrador Retriever Mix coming through the shelter have been adopted
    5.18% of all adopted dogs at the shelter were a Labrador Retriever Mix

German Shepherd Mix (46.97%) :
    922 out of 1,963 German Shepherd Mix coming through the shelter have been adopted
    2.02% of all adopted dogs at the shelter were a German Shepherd Mix

Australian Cattle Dog Mix (54.93%) :
    607 out of 1,105 Australian Cattle Dog Mix coming through the shelter have been adopted
    1.33% of all adopted dogs at the shelter were a Australian Cattle Dog Mix

## What are the adoption rates for different colorings?

For this I did pretty much the same as with the breeds. I started grouping all the colors together to get to a top 5 of most common colors in the Shelter. I then looped over each of those colors to see the total number of a certain color and calculated the ratio with the total number of adopted pets.

In [43]:
top_colors = adopted.groupby('color').size().sort_values(ascending=False).head(5).items()
for color, number in top_colors:
    print(f'''
    {number:,} : {len(adopted):,} adopted pets had a {color} color
    This is {round( (number / len(adopted)) * 100, 2 )}% of all adopted pets
    ''')

    3,738 : 33,594 adopted pets had a Black/White color
    This is 11.13% of all adopted pets


    2,692 : 33,594 adopted pets had a Black color
    This is 8.01% of all adopted pets


    1,871 : 33,594 adopted pets had a Brown Tabby color
    This is 5.57% of all adopted pets


    1,163 : 33,594 adopted pets had a Tan/White color
    This is 3.46% of all adopted pets


    1,110 : 33,594 adopted pets had a Brown/White color
    This is 3.3% of all adopted pets

## ⭐ Exceeds:  What are the adoption rates for the following age groups?
- baby: 4 months and less
- young: 5 months - 2 years
- adult: 3 years - 10 years
- senior: 11+

This was a tricky one and I'm sure there's a cleaner way to get to the solution. I tried using the `age_upon_outcome_age_group` but these groups didn't meet the requirements. I then decided to use the years data as that was easiest to work with. 

First off I started to select all the animals with an age_upon_outcome property and stored them in the 4 different variables for each of the required age groups. 

I then took those dataframes to get the numbers of them with an `outcome_type` of "Adopted". Finally in the print I'm doing the math of getting to the percentages of them being adopted. Animals that are younger than 4 years are more likely to get adopted than the adult / senior age groups.

In [58]:
# Get the data for each of the requested groups
outcome_as_baby = intakes_outcomes.loc[intakes_outcomes['age_upon_outcome_(years)'] < .4]

outcome_as_young = intakes_outcomes.loc[
    (intakes_outcomes['age_upon_outcome_(years)'] > .4)
    &
    (intakes_outcomes['age_upon_outcome_(years)'] < 3)
    ]
outcome_as_adult = intakes_outcomes.loc[
    (intakes_outcomes['age_upon_outcome_(years)'] > 3)
    &
    (intakes_outcomes['age_upon_outcome_(years)'] < 11)
    ]
outcome_as_senior = intakes_outcomes.loc[
    (intakes_outcomes['age_upon_outcome_(years)'] > 11)
     ]

adopted_as_baby = outcome_as_baby.loc[outcome_as_baby['outcome_type'] == 'Adoption']
adopted_as_young = outcome_as_young.loc[outcome_as_young['outcome_type'] == 'Adoption']
adopted_as_adult = outcome_as_adult.loc[outcome_as_adult['outcome_type'] == 'Adoption']
adopted_as_senior = outcome_as_senior.loc[outcome_as_senior['outcome_type'] == 'Adoption']


print(f'''
{len(outcome_as_baby):,} animals came in as a baby (<= 4 months old)
{len(adopted_as_baby):,} of those have been adopted which gives them an adoption rate of: {round((len(adopted_as_baby) / len(outcome_as_baby) * 100), 2)}%

{len(outcome_as_young):,} animals came in as a young (4+ months - 2 years)
{len(adopted_as_young):,} of those have been adopted which gives them an adoption rate of: {round((len(adopted_as_young) / len(outcome_as_young) * 100), 2)}%

{len(outcome_as_adult):,} animals came in as a adult (2+ years - 10 years)
{len(adopted_as_adult):,} of those have been adopted which gives them an adoption rate of: {round((len(adopted_as_adult) / len(outcome_as_adult) * 100), 2)}%

{len(outcome_as_senior):,} animals came in as a senior (> 11 years)
{len(adopted_as_senior):,} of those have been adopted which gives them an adoption rate of: {round((len(adopted_as_senior) / len(outcome_as_senior) * 100), 2)}%
''')
# adopted_as_baby

24,618 animals came in as a baby (<= 4 months old)
12,598 of those have been adopted which gives them an adoption rate of: 51.17%

34,794 animals came in as a young (4+ months - 2 years)
14,510 of those have been adopted which gives them an adoption rate of: 41.7%

12,833 animals came in as a adult (2+ years - 10 years)
4,179 of those have been adopted which gives them an adoption rate of: 32.56%

1,706 animals came in as a senior (> 11 years)
325 of those have been adopted which gives them an adoption rate of: 19.05%

# Spay/Neuter

## About how many animals are spayed/neutered each month?

Assuming that all of the pets that come in are being neutered / spayed I used the number of intakes to get to these numbers. I started off by filtering out all animals that came in as "Intact" and then grouped them based on the year and month they were taken in. By calculating the mean of these results I came to an average of *914* animals that are being spayed / neutered per month.

In [56]:
intact = intakes[intakes['sex_upon_intake'].isin(['Intact Male', 'Intact Female'])]
intakes_per_month = intact.groupby(by=[intact['intake_monthyear'].dt.year, intact['intake_monthyear'].dt.month]).size()

average_intakes_per_month = round(intakes_per_month.mean())
print(average_intakes_per_month)

914

## ⭐ Exceeds: If spay/neuter for a dog costs 100 and a spay/neuter for a cat costs 50, how much did the shelter spend in 2015 on these procedures?

Using the data in the requirement above I filtered it a bit further to only get the data of animals that were taken in in 2015 and filtered out the Dogs and Cats. In the print statement I'm doing the math of taking the number of intact dogs * 100 and intact cats * 50 to get to an amount of $863,250 to get all dogs and gets spayed / neutered in 2015

In [32]:
# Get all intact *dog and cat* intakes in 2015
all_intact_intakes_2015 = intact[(intact['intake_monthyear'].dt.year == 2015) & ((intact['animal_type'] == 'Dog') | (intact['animal_type'] == 'Cat'))]
all_intact_intakes_2015 = all_intact_intakes_2015.value_counts(['animal_type'])

print(f'''
In total there were {all_intact_intakes_2015[0]:,} dogs and {all_intact_intakes_2015[1]:,} cats taken into the shelter in 2015
Total cost for spay / neuter was: 
${100 * all_intact_intakes_2015[0]:,} for the dogs
${50 * all_intact_intakes_2015[1]:,} for the cats
Which brings the total to: ${100 * all_intact_intakes_2015[0] + 50 * all_intact_intakes_2015[1]:,}
''')

In total there were 6,100 dogs and 5,065 cats taken into the shelter in 2015
Total cost for spay / neuter was:
$610,000 for the dogs
$253,250 for the cats
Which brings the total to: $863,250