In [1]:
import pandas as pd
intakes = pd.read_csv('data/aac_intakes.csv')
outcomes = pd.read_csv('data/aac_outcomes.csv')

In [2]:
intakes.describe()

,age_upon_intake,animal_id,animal_type,breed,color,datetime,datetime2,found_location,intake_condition,intake_type,name,sex_upon_intake
count,80187,80187,80187,80187,80187,80187,80187,80187,80187,80187,55603,80186
unique,46,72365,5,2166,529,57055,57055,36772,8,5,14731,5
top,1 year,A721033,Dog,Domestic Shorthair Mix,Black/White,2016-09-23T12:00:00.000,2016-09-23T12:00:00.000,Austin (TX),Normal,Stray,Bella,Intact Male
freq,14672,13,45743,23519,8340,64,64,14443,70520,56280,357,25488

In [3]:
outcomes.describe()

,age_upon_outcome,animal_id,animal_type,breed,color,date_of_birth,datetime,monthyear,name,outcome_subtype,outcome_type,sex_upon_outcome
count,80673,80681,80681,80681,80681,80681,80681,80681,56116,36893,80667,80679
unique,46,72877,5,2176,532,5956,66474,66474,14824,19,9,5
top,1 year,A721033,Dog,Domestic Shorthair Mix,Black/White,2015-09-01T00:00:00,2016-04-18T00:00:00,2016-04-18T00:00:00,Bella,Partner,Adoption,Neutered Male
freq,14911,13,45856,23821,8396,112,39,39,362,20082,34232,28702

In [4]:
len(intakes), len(outcomes)

(80187, 80681)

In [5]:
intakes.shape, outcomes.shape

((80187, 12), (80681, 12))

In [6]:
intakes.dtypes

age_upon_intake     object
animal_id           object
animal_type         object
breed               object
color               object
datetime            object
datetime2           object
found_location      object
intake_condition    object
intake_type         object
name                object
sex_upon_intake     object
dtype: object

In [7]:
outcomes.dtypes

age_upon_outcome    object
animal_id           object
animal_type         object
breed               object
color               object
date_of_birth       object
datetime            object
monthyear           object
name                object
outcome_subtype     object
outcome_type        object
sex_upon_outcome    object
dtype: object

In [8]:
intakes.head(1)

,age_upon_intake,animal_id,animal_type,breed,color,datetime,datetime2,found_location,intake_condition,intake_type,name,sex_upon_intake
0,8 years,A706918,Dog,English Springer Spaniel,White/Liver,2015-07-05T12:59:00.000,2015-07-05T12:59:00.000,9409 Bluegrass Dr in Austin (TX),Normal,Stray,Belle,Spayed Female

In [9]:
outcomes.head(1)

,age_upon_outcome,animal_id,animal_type,breed,color,date_of_birth,datetime,monthyear,name,outcome_subtype,outcome_type,sex_upon_outcome
0,2 weeks,A684346,Cat,Domestic Shorthair Mix,Orange Tabby,2014-07-07T00:00:00,2014-07-22T16:04:00,2014-07-22T16:04:00,NaN,Partner,Transfer,Intact Male

# Cleaning the data

In [10]:
intakes['datetime'] = pd.to_datetime(intakes['datetime'])
intakes.rename(columns={'datetime': 'intake_date'}, inplace=True)
intakes['datetime2'] = pd.to_datetime(intakes['datetime2']).dt.to_period('M')
intakes.rename(columns={'datetime2': 'intake_monthyear'}, inplace=True)

In [11]:
intakes.dtypes

age_upon_intake             object
animal_id                   object
animal_type                 object
breed                       object
color                       object
intake_date         datetime64[ns]
intake_monthyear         period[M]
found_location              object
intake_condition            object
intake_type                 object
name                        object
sex_upon_intake             object
dtype: object

## Is there an area where more pets are found?

Find the top 5 places where animals are found so the shelter can coordinate with local volunteers and animal control to monitor these areas.

In [12]:
all_locations = intakes.groupby('found_location').size().sort_values(ascending=False).head(5)
all_locations

found_location
Austin (TX)                          14443
Outside Jurisdiction                   948
Travis (TX)                            921
7201 Levander Loop in Austin (TX)      517
Del Valle (TX)                         411
dtype: int64

## What is the average number of pets found in a month in the year 2015?

In [22]:
intakes_in_2015 = intakes[
    (intakes['intake_date'] > pd.Timestamp(2015,1,1))
    &
    (intakes['intake_date'] < pd.Timestamp(2015, 12, 31))
]
avg_per_month = len(intakes_in_2015) / 12
avg_per_month

1556.5833333333333

### Are there months where there is a higher number of animals found?

In [34]:
intakes_per_month = intakes_in_2015.groupby(by=[intakes_in_2015['intake_monthyear']]).size().sort_values(ascending=False)
above_average = intakes_per_month[intakes_per_month > avg_per_month]
above_average

intake_monthyear
2015-06    2189
2015-05    2094
2015-10    1740
2015-08    1718
2015-07    1635
2015-09    1591
Freq: M, dtype: int64